<template>
  <div>
    <div v-if="content.lien" class="k-block-title">
      <k-icon class="k-block-icon" type="url" />
      <a class="k-block-name" :href="content.lien" :title="`Accéder au lien &quot;${content.textedulien}&quot; - Ouvre une nouvelle fenêtre`" target="_blank">
        {{ content.textedulien }}
      </a>
    </div>
    <div v-else>Pas de lien renseigné</div>
  </div>
</template>

<style scoped>
  .k-block-title a.k-block-name {
    text-decoration: underline;
    color: #485fc7
  }

  .k-block-title a.k-block-name:hover {
    color: #667791;
  }
</style>
