@use 'variables' as *;
@use 'bulma-variables' as bulma-var;

.footer {
  background-color: $quaternary;

  ul ul {
    padding-left: 2rem;
  }

  .pages-legales {
    display: inline-flex;

    > *:not(:last-child) {
      margin-right: 0.75rem;

      &::after {
        content: '';
        border: 1px solid bulma-var.$grey-lighter;
        margin-left: 0.75rem;
      }
    }
  }
}
