@use 'variables' as *;
@use 'bulma-variables' as bulma-var;

.navbar {
  .navbar-menu .navbar-item .buttons .button {
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }

    &[aria-current='page'] {
      text-decoration: underline;
      border: none;
    }

    &:focus:not(:active),
    &.is-focused:not(:active) {
      box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
    }
  }

  &.is-primary .navbar-menu .navbar-item .buttons .button.is-primary {
    color: bulma-var.$white;
  }

  &.is-quaternary {
    background-color: $quaternary;
    color: $primary;

    .navbar-menu .navbar-item .buttons .button.is-quaternary {
      background-color: $quaternary;
      color: $primary;

      &:not([aria-current='page']:hover) {
        border-color: transparent;
      }
    }
  }
}
