// Font
/* stylelint-disable-next-line scss/dollar-variable-colon-space-after */
$body-family:
  'Montserrat',
  'Roboto',
  'Helvetica Neue',
  'Helvetica',
  blinkmacsystemfont,
  -apple-system,
  'Segoe UI',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Arial',
  sans-serif;

// Colors
$primary: #16263f;
$primary-light: #f7f6f3;
$primary-invert: #fff;
$secondary: #d8d860;
$tertiary: #9bb6dd;
$tertiary-on-white: #667791;
$tertiary-light: #cddaed;
$quaternary: #f0eee8;

// Columns
$column-gap: 1.5rem; // is-6

// Card
$card-radius: 1rem;
$card-border-size: 0.125rem;
