@use 'variables' as *;
@use 'bulma-variables' as bulma-var;

.container.article-container:not(.is-max-desktop, .is-max-widescreen),
.article-hero > .hero-body {
  max-width: 40rem;
}

.article-hero > .hero-body {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.article-section {
  ul {
    list-style: disc;
    padding-left: 2rem;

    + p {
      margin-top: 1rem;
    }
  }

  p:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.article-image {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;

  img {
    display: block;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .article-hero > .hero-body {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.article-section-link {
  display: flex;
  justify-content: center;

  > * {
    white-space: initial;
    text-align: left;
    height: auto;
  }
}

.article-rubrique.tag {
  color: bulma-var.$white;
  background-color: $primary;

  &.is-secondary {
    color: $primary;
    background-color: $secondary;
  }

  &.is-tertiary {
    color: $primary;
    background-color: $tertiary;
  }
}

.navigation-article-section {
  display: flex;
}

.lien-article-suivant {
  margin-left: auto;
}
