@use 'variables' as *;
@use 'bulma-variables' as bulma-var;
@use 'bulma';
@use 'navigation';
@use 'footer';
@use 'outils' as outils;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  margin: 0 0 auto;
}

.logo {
  min-width: 9rem;
}

.is-full-height {
  height: 100%;
}

a:not(.pagination-previous, .pagination-next, .pagination-link, .button) {
  text-decoration: underline;

  &:hover {
    color: $tertiary-on-white;
  }
}

@media screen and (min-width: 769px), print {
  .page-title-hero .hero-body {
    max-width: 50rem;
    margin: 0 auto;
  }
}

.hero {
  &.is-tertiary {
    background-color: $tertiary;
  }

  &.is-quaternary {
    background-color: $quaternary;
  }
}

.has-text-quaternary {
  color: $quaternary !important;
}

.button,
.pagination-link,
.pagination-next,
.pagination-previous {
  font-weight: 700;

  // Apply rounded shape to all buttons of the site
  border-radius: bulma-var.$radius-rounded;
}

.title,
.subtitle {
  color: $primary;
}

.card {
  border: $card-border-size solid $primary;
  box-shadow: none;

  &.is-secondary {
    border-color: $secondary;
  }

  &.is-tertiary {
    border-color: $tertiary;
  }

  &.is-lg {
    @include outils.tablet {
      .card-content {
        padding: 2rem;
      }
    }
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.article-tags.tags {
  margin-bottom: 0;

  > *:first-child {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.article-category.tag {
  color: bulma-var.$white;
  background-color: bulma-var.$info;

  > span {
    white-space: pre;
  }
}

.article-category.tag > a:hover {
  color: bulma-var.$primary;
}

.article-category.tag > a:not(:hover) {
  color: bulma-var.$white;
}

.article-ecole.tag {
  background-color: $tertiary;
}

.article-ecole.tag > a:hover {
  color: bulma-var.$white;
}

.article-ecole.tag > a:not(:hover) {
  color: bulma-var.$primary;
}

.section.rubrique-section {
  display: flex;
  flex-direction: column;
}

.rubrique-link span[aria-hidden='true'] {
  white-space: pre;
}

@include outils.tablet {
  .rubrique-link {
    margin-left: auto;
  }
}
