@use 'variables' as *;
@use 'bulma-variables' as bulma-var;
@use 'outils' as outils;

.article .card {
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: bulma-var.$white-bis;

    .title {
      color: $tertiary-on-white;
    }
  }

  &-content:first-of-type {
    border-bottom-style: inherit;
    border-bottom-width: inherit;
    border-color: inherit;
  }

  &-content:last-of-type {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;

    a::before {
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.pagination-link.is-current {
  background-color: $primary;
  border-color: $primary;
}

.rubrique-section-action {
  background-color: $quaternary;
  padding: 1.25rem 1.5rem;
  border-radius: bulma-var.$radius;
}

form.rubrique-section-action.field.is-grouped {
  align-items: end;
  flex-wrap: wrap;
  padding-bottom: 1.25rem - 0.75rem;

  .field:not(:last-child) {
    margin-right: 1rem;
  }

  .field:last-child {
    margin-left: auto;
    margin-bottom: 0.75rem;
  }
}
