@use 'variables' as *;
@use 'outils' as outils;
@use 'bulma-variables' as bulma-var;

@include outils.tablet-only {
  .article-list > .article:nth-child(3) {
    display: none;
  }
}

.hero-body.container {
  width: 100%;
}

.hero.bandeau-principal,
.hero.bandeau-contact {
  justify-content: center;
  overflow: hidden;

  .hero-body.container {
    position: relative;
    flex: 0;
  }

  svg.picto-major {
    position: absolute;
  }
}

.hero.bandeau-principal {
  min-height: 30rem;

  .hero-body.container {
    padding-bottom: 25rem;

    @include outils.tablet {
      padding-bottom: 3rem;
      padding-right: 30rem;
    }
  }

  svg.picto-major {
    transform: rotate(-45deg);
    fill: $primary-light;
    width: 40rem;
    right: -13rem;
    bottom: 0;

    @include outils.tablet {
      right: -14rem;
      width: 50rem;
    }
  }
}

.hero.bandeau-partenariat .hero-body {
  display: flex;
  flex-wrap: wrap;

  @include outils.tablet {
    flex-wrap: nowrap;
    align-items: center;
  }

  > img {
    height: 4rem;

    &:first-of-type {
      margin-right: 0.5rem;
    }
  }

  > p {
    flex-grow: 0;
    margin-bottom: 1rem;
    font-weight: 700;

    @include outils.tablet {
      margin-bottom: 0;
      margin-right: 1.5rem;
    }
  }
}

.hero.bandeau-contact {
  min-height: 25rem;

  .hero-body.container {
    padding-top: 15rem;

    @include outils.desktop {
      padding-top: 3rem;
      padding-left: 40rem;
    }
  }

  svg.picto-major {
    transform: rotate(-20deg);
    fill: $tertiary-light;
    width: 15rem;
    left: 0;
    top: 0;

    @include outils.desktop {
      width: 35rem;
    }
  }
}

.columns.section-columns,
.columns.section-columns:not(:last-child) {
  margin: 0 auto;
}

.section.section-accueil {
  @include outils.desktop {
    padding: 6rem 3rem;
  }
}
